*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Poppins';
}.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#420309,#90b0fc);
    color: #fff;
    padding: 10px;
}.calulator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
h1{
    font-size: 60px;
}
.calulator .inputbox{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,.3);
    display: flex;
    align-items: center;
}

.inputbox input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.inputbox button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 16px 30px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}
.inputbox input::-webkit-calendar-picker-indicator{
    top: 6px;
    left: 350px;
    right: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100%-10px);
    background-size: 30px;
    cursor: pointer;
    height: auto;
}#result{
    font-size: 26px;
    color: #18babdd1;
    font-weight: bold;
}
span{
    color: #18babdd1;
}